# Day 4
## Puzzle 1

In [1]:
import pandas as pd

In [15]:
df = pd.read_table("input.txt", names=['raw'])
print(df[:10])

                                           raw
0  [1518-09-16 23:57] Guard #1889 begins shift
1  [1518-04-16 00:03] Guard #2897 begins shift
2  [1518-04-29 23:57] Guard #1663 begins shift
3                  [1518-05-27 00:47] wakes up
4   [1518-04-27 23:50] Guard #661 begins shift
5                  [1518-08-29 00:58] wakes up
6              [1518-09-26 00:48] falls asleep
7                  [1518-07-16 00:43] wakes up
8              [1518-08-17 00:26] falls asleep
9                  [1518-08-17 00:53] wakes up

In [16]:
tslist = [i.replace('1518','2018').replace('[','').split(']')[0] for i in df['raw']]
df['timestamp'] = pd.to_datetime(pd.Series(tslist))
df.sort_values(by=['timestamp'], inplace=True)
print(df[:10])

                                             raw           timestamp
488  [1518-04-05 00:02] Guard #2459 begins shift 2018-04-05 00:02:00
490              [1518-04-05 00:26] falls asleep 2018-04-05 00:26:00
788                  [1518-04-05 00:33] wakes up 2018-04-05 00:33:00
835              [1518-04-05 00:40] falls asleep 2018-04-05 00:40:00
853                  [1518-04-05 00:41] wakes up 2018-04-05 00:41:00
620  [1518-04-05 23:56] Guard #2633 begins shift 2018-04-05 23:56:00
323              [1518-04-06 00:18] falls asleep 2018-04-06 00:18:00
51                   [1518-04-06 00:40] wakes up 2018-04-06 00:40:00
331  [1518-04-06 23:54] Guard #3121 begins shift 2018-04-06 23:54:00
291              [1518-04-07 00:04] falls asleep 2018-04-07 00:04:00

Timestamp('2018-04-16 00:03:00')