# Day 4
## Puzzle 1

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_table("input.txt", names=['raw'])
print(df[:10])

                                           raw
0  [1518-09-16 23:57] Guard #1889 begins shift
1  [1518-04-16 00:03] Guard #2897 begins shift
2  [1518-04-29 23:57] Guard #1663 begins shift
3                  [1518-05-27 00:47] wakes up
4   [1518-04-27 23:50] Guard #661 begins shift
5                  [1518-08-29 00:58] wakes up
6              [1518-09-26 00:48] falls asleep
7                  [1518-07-16 00:43] wakes up
8              [1518-08-17 00:26] falls asleep
9                  [1518-08-17 00:53] wakes up

In [3]:
tslist = [i.replace('1518','2018').replace('[','').split(']')[0] for i in df['raw']]
df['timestamp'] = pd.to_datetime(pd.Series(tslist))
df.sort_values(by=['timestamp'], inplace=True)
print(df[:10])

                                             raw           timestamp
488  [1518-04-05 00:02] Guard #2459 begins shift 2018-04-05 00:02:00
490              [1518-04-05 00:26] falls asleep 2018-04-05 00:26:00
788                  [1518-04-05 00:33] wakes up 2018-04-05 00:33:00
835              [1518-04-05 00:40] falls asleep 2018-04-05 00:40:00
853                  [1518-04-05 00:41] wakes up 2018-04-05 00:41:00
620  [1518-04-05 23:56] Guard #2633 begins shift 2018-04-05 23:56:00
323              [1518-04-06 00:18] falls asleep 2018-04-06 00:18:00
51                   [1518-04-06 00:40] wakes up 2018-04-06 00:40:00
331  [1518-04-06 23:54] Guard #3121 begins shift 2018-04-06 23:54:00
291              [1518-04-07 00:04] falls asleep 2018-04-07 00:04:00

In [12]:
sleep = {}
for i in df['raw']:
    if 'Guard' in i:
        words = i.split()
        sleep[words[3]] = np.zeros(60, dtype=int)
#print(sleep.keys())

for idx, row in df.iterrows():
    if 'Guard' in row['raw']:
        guardid = row['raw'].split()[3]
    elif 'asleep' in row['raw']:
        sleep_min = row['timestamp'].minute
    elif 'wakes' in row['raw']:
        wake_min = row['timestamp'].minute
        assert wake_min > sleep_min
        sleep[guardid][sleep_min:wake_min] += 1
print(sleep)

{'#3121': array([0, 0, 0, 0, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 3, 3, 3, 4, 4, 4, 4, 6, 6,
       6, 6, 6, 6, 7, 7, 8, 8, 9, 9, 7, 7, 6, 5, 6, 7, 7, 8, 8, 9, 9, 8, 7,
       7, 7, 6, 5, 5, 5, 5, 4, 4, 4, 4, 4, 0, 0]), '#467': array([1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 4, 4, 4, 4, 3, 3,
       3, 3, 3, 4, 4, 4, 4, 5, 6, 6, 6, 6, 6, 6, 7, 6, 7, 6, 5, 5, 5, 6, 4,
       3, 3, 3, 3, 2, 2, 2, 3, 2, 2, 2, 0, 0, 0]), '#1663': array([0, 1, 1, 1, 2, 2, 2, 2, 2, 3, 1, 1, 1, 1, 1, 1, 2, 2, 2, 5, 4, 4, 4,
       4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 6, 7, 7, 7, 7, 7, 8, 8, 9, 8, 8, 8, 7,
       5, 5, 5, 4, 4, 4, 3, 2, 2, 1, 0, 0, 0, 0]), '#1471': array([0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 3, 3, 3, 3, 3, 3, 3, 5, 5, 6, 6, 6, 5, 5, 6, 6, 6, 6, 6, 6, 5, 4,
       4, 3, 2, 1, 0, 0, 0, 0, 1, 1, 1, 3, 1, 0]), '#947': array([ 0,  0,  0,  1,  1,  1,  1,  1,  1,  2,  2,  3,  2,  2,  2,  3,  3,
        3,  5,  6,  7,  7,  7,  7,  6,  5,  6,  5,  7,  6,  6,  6,  6,  4,
        5,  5,  6,  6,  6,  7,  8, 10, 12, 14, 18, 17, 15, 15, 14, 13, 11,
       11,  8,  7,  6,  6,  5,  2,  1,  0]), '#2897': array([0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2,
       2, 2, 3, 3, 3, 2, 2, 2, 3, 3, 3, 4, 5, 4, 4, 3, 4, 4, 3, 3, 3, 3, 3,
       3, 2, 3, 3, 4, 4, 3, 4, 4, 5, 2, 2, 1, 0]), '#3491': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]), '#1283': array([1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 3, 3, 4, 3, 4, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 4, 5, 5, 4, 4, 4, 4, 4, 5, 5, 5, 4, 5, 5, 4, 2, 3, 4, 5, 4, 5,
       5, 5, 5, 4, 4, 3, 3, 1, 1, 1, 1, 0, 0, 0]), '#2447': array([0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 4, 4, 4, 4, 4, 4, 5, 5, 5,
       5, 5, 5, 6, 7, 7, 7, 7, 6, 6, 6, 6, 5, 5, 5, 6, 6, 4, 5, 5, 5, 5, 5,
       5, 5, 5, 4, 4, 4, 3, 3, 3, 2, 1, 1, 0, 0]), '#1931': array([0, 1, 1, 1, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 6, 6, 6, 5, 5, 5,
       6, 6, 7, 7, 7, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 6, 6, 6, 5, 4, 3,
       3, 3, 4, 3, 5, 6, 7, 6, 5, 3, 3, 3, 1, 0]), '#2819': array([0, 1, 1, 2, 2, 3, 3, 3, 3, 3, 3, 4, 5, 5, 5, 5, 5, 4, 4, 4, 4, 5, 6,
       6, 5, 5, 5, 5, 5, 5, 4, 4, 4, 4, 4, 4, 3, 4, 4, 4, 4, 4, 4, 4, 3, 2,
       2, 3, 4, 3, 3, 2, 2, 2, 2, 1, 0, 0, 0, 0]), '#3307': array([ 0,  0,  0,  2,  5,  6,  6,  5,  5,  5,  6,  7,  7,  8,  8,  8,  8,
        8,  7,  7,  7,  7,  8,  8,  9,  8,  8,  8,  8,  8,  8,  9,  8,  8,
        8, 10,  8,  9, 10, 10, 10, 10, 10, 10,  9,  9,  9, 10,  9,  9,  9,
        9,  6,  5,  3,  3,  3,  2,  2,  0]), '#61': array([ 1,  1,  1,  2,  3,  3,  3,  5,  6,  6,  6,  7,  8,  8,  9, 10,  9,
        9,  9, 10,  9,  9,  9,  9, 10, 11, 10, 10,  9, 10, 10, 10, 10, 10,
       11, 11, 11, 12, 12, 12, 12, 11, 10,  9,  8,  8,  8,  5,  5,  4,  4,
        3,  3,  3,  2,  2,  2,  1,  1,  0]), '#2633': array([ 1,  1,  1,  1,  1,  1,  1,  1,  2,  3,  3,  4,  6,  6,  6,  6,  6,
        7,  8,  9,  9, 11, 11, 13, 13, 13, 12, 12, 12, 14, 13, 12, 13, 13,
       12, 11, 12, 12, 13, 12,  9,  8,  8,  6,  6,  5,  7,  5,  5,  7,  7,
        7,  7,  7,  7,  6,  3,  3,  3,  0]), '#419': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]), '#1291': array([2, 3, 3, 3, 3, 4, 4, 5, 6, 6, 6, 5, 5, 5, 5, 6, 6, 6, 6, 6, 7, 7, 7,
       6, 7, 7, 7, 7, 7, 8, 7, 8, 8, 9, 8, 8, 8, 8, 9, 8, 9, 8, 6, 5, 4, 5,
       6, 3, 4, 4, 4, 4, 3, 3, 3, 2, 3, 2, 1, 0]), '#3037': array([0, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       5, 6, 6, 5, 5, 5, 5, 5, 5, 5, 5, 4, 4, 5, 5, 4, 3, 3, 3, 2, 2, 2, 2,
       2, 1, 1, 0, 1, 1, 1, 1, 1, 2, 1, 1, 0, 0]), '#1889': array([0, 0, 0, 0, 2, 2, 2, 1, 1, 1, 1, 3, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 4,
       3, 3, 3, 3, 3, 3, 4, 4, 3, 3, 3, 3, 4, 5, 6, 6, 6, 5, 4, 4, 4, 4, 4,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 1, 0]), '#409': array([1, 3, 3, 4, 4, 5, 5, 5, 5, 6, 6, 7, 7, 7, 7, 7, 6, 7, 7, 8, 8, 9, 8,
       7, 7, 7, 7, 7, 7, 8, 8, 8, 7, 7, 8, 9, 9, 8, 7, 6, 6, 5, 5, 5, 5, 4,
       4, 6, 5, 6, 7, 6, 6, 6, 5, 3, 1, 1, 0, 0]), '#2459': array([ 0,  0,  1,  1,  2,  1,  1,  1,  1,  1,  3,  3,  4,  4,  4,  4,  4,
        4,  4,  4,  4,  5,  5,  6,  6,  6,  7,  7,  8,  8,  9, 10, 10,  8,
        7,  6,  6,  6,  5,  5,  6,  5,  6,  6,  5,  5,  4,  4,  5,  5,  5,
        4,  3,  3,  3,  3,  2,  2,  0,  0]), '#167': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]), '#661': array([0, 0, 0, 1, 1, 1, 1, 2, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 3, 5, 5, 5, 6,
       6, 5, 4, 4, 4, 3, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 3, 3, 4, 3, 3,
       3, 3, 4, 3, 2, 2, 2, 3, 3, 1, 1, 3, 1, 0]), '#1433': array([0, 0, 0, 1, 1, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 3,
       3, 3, 2, 2, 2, 2, 2, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 6,
       5, 4, 5, 5, 4, 5, 4, 1, 1, 2, 1, 1, 0, 0])}

In [24]:
for key, value in sorted(sleep.items(), key=lambda v: np.sum(v[1]), reverse=True):
    print(key, value.sum())

#2633 433
#61 422
#3307 412
#947 352
#409 348
#1291 325
#3121 282
#1931 275
#2459 257
#1663 224
#2447 221
#2819 200
#467 194
#1283 190
#1889 185
#661 181
#1433 168
#3037 166
#2897 145
#1471 139
#3491 0
#419 0
#167 0

Guard that sleeps the most is #2633!

In [29]:
sleeparr = sleep['#2633']
print("Puzzle 1 answer is", 2633*np.argmax(sleeparr))

Puzzle 1 answer is 76357

## Puzzle 2

In [30]:
for key, value in sorted(sleep.items(), key=lambda v: np.max(v[1]), reverse=True):
    print(key, np.max(value), np.argmax(value))

#947 18 44
#2633 14 29
#61 12 37
#3307 10 35
#2459 10 31
#3121 9 31
#1663 9 41
#1291 9 33
#409 9 21
#467 7 37
#2447 7 27
#1931 7 25
#1471 6 33
#2819 6 22
#3037 6 24
#1889 6 37
#661 6 22
#1433 6 45
#2897 5 35
#1283 5 26
#3491 0 0
#419 0 0
#167 0 0

In [31]:
print("Puzzle 2 Answer is", 947*44)

Puzzle 2 Answer is 41668